name = "ubix-agent"
main = "src/index.ts"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "public"          # your front-end

[[durable_objects.bindings]]
name = "AGENT_DO"
class_name = "AgentDurableObject"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["AgentDurableObject" ]

[vars]
GOOGLE_API_KEY = "AIzaSyDxD7WiixJUVw6h0HWqW6lS8pHpVihnNTM"
